<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Python Terminal</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <strong>SIMPLE PYTHON IDE</strong>
    <button onclick="runCode()">▶ RUN</button>
    <button class="stop" onclick="stopCode()">⏹ STOP</button>
        <span style="font-size: 12px; color: #888; margin-left: auto;">Tab = 4 spaces</span>
</header>

<div class="main">
    <div class="editor">
        <div style="margin-bottom:5px; color:#aaa; font-size:12px">main.py</div>
        <textarea id="code" spellcheck="false" placeholder="Write code here...">
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter number for factorial: "))
print(f"Factorial of {num} is {factorial(num)}")
        </textarea>
    </div>
    
    <div class="terminal-container">
        <div style="margin-bottom:5px; color:#aaa; font-size:12px">Terminal Output</div>
        <div id="terminal" class="terminal-window"></div>
        <div class="input-line">
            <span>>>></span>
            <input type="text" id="term-input" placeholder="..." autocomplete="off">
        </div>
    </div>
</div>

<script src="script.js"></script>
</body>
</html>