body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Consolas', monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background: #333;
    padding: 10px;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #444;
    align-items: center;
}
button {
    background: #02b902;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
}
button:hover { background: #1177bb; }
button.stop { background: #a10000; }
button.stop:hover { background: #cc0000; }

.main {
    display: flex;
    flex: 1;
    overflow: hidden;
}
.editor, .terminal-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}
.editor textarea {
    width: 100%;
    height: 100%;
    background: #c9c9c9;
    color: #2d3133;
    border: none;
    resize: none;
    outline: none;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 16px;
    padding: 10px;
    line-height: 1.5;
    tab-size: 4; /* Размер таба */
}
.terminal-window {
    flex: 1;
    background: #000;
    border: 1px solid #444;
    overflow-y: auto;
    padding: 10px;
    white-space: pre-wrap;
    font-size: 15px;
    color: #cccccc;
    font-family: 'Consolas', monospace;
}
.input-line {
    display: flex;
    background: #000;
    border: 1px solid #444;
    border-top: none;
    padding: 5px;
}
.input-line span {
    color: #0f0;
    margin-right: 5px;
    font-weight: bold;
}
.input-line input {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    font-family: 'Consolas', monospace;
    font-size: 15px;
}